version: '2.4'
services:
  elasticsearch:
    healthcheck:
      test: ["CMD", "curl", "-f", "-u", "elastic:changeme", "http://127.0.0.1:9200/"]
      retries: 300
      interval: 1s
    environment:
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - network.host=
      - transport.host=127.0.0.1
      - http.host=0.0.0.0
      - indices.id_field_data.enabled=true
      - xpack.license.self_generated.type=trial
      - xpack.security.enabled=true
      - xpack.security.authc.api_key.enabled=true
      - ELASTIC_USERNAME=elastic
      - ELASTIC_PASSWORD=changeme
    image: "docker.elastic.co/elasticsearch/elasticsearch:${stackVersion:-7.13.0-SNAPSHOT}"
    platform: ${stackPlatform:-linux/amd64}
    ports:
      - "9200:9200"
  kibana:
    depends_on:
      elasticsearch:
        condition: service_healthy
    healthcheck:
      test: "curl -f http://localhost:5601/login | grep kbn-injected-metadata 2>&1 >/dev/null"
      retries: 600
      interval: 1s
    image: "docker.elastic.co/${kibanaDockerNamespace:-kibana}/kibana:${kibanaVersion:-7.13.0-SNAPSHOT}"
    platform: ${stackPlatform:-linux/amd64}
    ports:
      - "5601:5601"
    volumes:
      - ./configurations/kibana.config.yml:/usr/share/kibana/config/kibana.yml
  fleet-server:
    image: "docker.elastic.co/beats/elastic-agent:${stackVersion:-8.0.0-SNAPSHOT}"
    depends_on:
      elasticsearch:
        condition: service_healthy
      kibana:
        condition: service_healthy
    healthcheck:
      test: "curl -f http://127.0.0.1:8220/api/status | grep HEALTHY 2>&1 >/dev/null"
      retries: 12
      interval: 5s
    environment:
      - "FLEET_SERVER_ENABLE=1"
      - "FLEET_SERVER_INSECURE_HTTP=1"
      - "KIBANA_FLEET_SETUP=1"
      - "KIBANA_FLEET_HOST=http://kibana:5601"
      - "FLEET_SERVER_HOST=0.0.0.0"
      - "FLEET_SERVER_PORT=8220"
