version: '2.4'
services:
  elasticsearch:
    healthcheck:
      test: ["CMD", "curl", "-f", "-u", "elastic:changeme", "http://127.0.0.1:9200/"]
      retries: 300
      interval: 1s
    environment:
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - network.host=
      - transport.host=127.0.0.1
      - http.host=0.0.0.0
      - indices.id_field_data.enabled=true
      - xpack.license.self_generated.type=trial
      - xpack.security.enabled=true
      - xpack.security.authc.api_key.enabled=true
      - ELASTIC_USERNAME=elastic
      - ELASTIC_PASSWORD=changeme
    image: "docker.elastic.co/elasticsearch/elasticsearch:${stackVersion:-7.12.0-SNAPSHOT}"
    ports:
      - "9200:9200"
  kibana:
    depends_on:
      elasticsearch:
        condition: service_healthy
      package-registry:
        condition: service_healthy
    healthcheck:
      test: "curl -f http://localhost:5601/login | grep kbn-injected-metadata 2>&1 >/dev/null"
      retries: 600
      interval: 1s
    image: "docker.elastic.co/kibana/kibana:${stackVersion:-7.12.0-SNAPSHOT}"
    ports:
      - "5601:5601"
    volumes:
      - ${kibanaConfigPath}:/usr/share/kibana/config/kibana.yml
  package-registry:
    image: docker.elastic.co/package-registry/distribution:staging
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      retries: 300
      interval: 1s
