---
- name: "Create AWS keypair"
  ec2_key:
    name: "e2essh-{{runId}}"
    key_material: "{{ lookup('file', sshPublicKey) }}"
    region: us-east-2
    state: present
    tags:
      branch: "{{branch | default('Not running on CI')}}"
      build: "{{build | default('Not running on CI')}}"
      build_url: "{{buildURL | default('Not running on CI') }}"
      created_date: "{{ansible_date_time.epoch}}"
      environment: "{{type | default('Not running on CI')}}"
      git_sha: "{{ gitSha | default('Not running on CI')}}"
      repo: "{{repo | default('Not running on CI')}}"
      run_id: "{{runId | default('Not running on CI')}}"
      division: engineering
      org: obs
      team: eng-productivity
      project: e2e
  tags:
    - provision-stack
    - provision-node

- name: transform AMI name to id
  amazon.aws.ec2_ami_info:
    region: "us-east-2"
    filters:
      name: '{{nodeImage}}'
  register: preinstalled_image
  tags:    
    - provision-node
    - provision-stack

- name: "Create preinstalled {{nodeLabel}} AWS instances"
  ec2:
    wait: yes
    key_name: "e2essh-{{runId}}"
    region: us-east-2
    group: e2e
    image: "{{ preinstalled_image[0].image_id }}"
    instance_type: '{{nodeInstanceType}}'
    instance_tags:
      branch: "{{branch | default('Not running on CI')}}"
      build: "{{build | default('Not running on CI')}}"
      build_url: "{{buildURL | default('Not running on CI') }}"
      created_date: "{{ansible_date_time.epoch}}"
      e2e_suite: "{{ lookup('env', 'SUITE') or 'Not running on CI' }}"
      e2e_tags: "{{ lookup('env', 'TAGS') or 'Not running on CI' }}"
      environment: "{{type | default('Not running on CI')}}"
      git_sha: "{{ gitSha | default('Not running on CI')}}"
      kind: "{{nodeLabel}}"
      name: "e2e-{{ instanceID }}"
      reaper_mark: "e2e-testing-vm"
      repo: "{{repo | default('Not running on CI')}}"
      run_id: "{{runId | default('Not running on CI')}}"
      division: engineering
      org: obs
      team: eng-productivity
      project: e2e
    count_tag:
      name: "e2e-{{ instanceID }}"
    volumes:
      - device_name: /dev/sda1
        volume_type: gp3
        volume_size: "{{ (nodeLabel != 'windows2019') | ternary(15, 60) }}"
        delete_on_termination: yes
      - device_name: /dev/xvda
        volume_type: gp3
        volume_size: 200
        delete_on_termination: yes
    ebs_optimized: yes
  register: ec2
  tags:
    - provision-stack
    - provision-node

- name: Add AWS host to ssh address list
  lineinfile:
    state: present
    line: "- {{ nodeUser }}@{{addr.public_ip}}"
    insertafter: EOF
    dest: "{{ workspace }}{{nodeLabel}}-sshhosts"
    create: yes
  loop: "{{ ec2.instances }}"
  loop_control:
    loop_var: addr
  tags:
    - provision-stack
    - provision-node

- name: Add stack AWS host to ssh address list
  copy:
    dest: "{{ workspace }}.ci/.stack-host-ip"
    content: "{{addr.public_ip}}"
    force: true
  loop: "{{ ec2.instances }}"
  loop_control:
    loop_var: addr
  tags:
    - provision-stack

- name: Add node AWS host to ssh address list
  copy:
    dest: "{{ workspace }}.ci/.node-host-ip"
    content: "{{addr.public_ip}}"
    force: true
  loop: "{{ ec2.instances }}"
  loop_control:
    loop_var: addr
  tags:
    - provision-node

- name: Wait for SSH to come up
  wait_for: host={{ nodeItem.public_ip }} port=22 delay=10
  loop: "{{ ec2.instances }}"
  loop_control:
    loop_var: nodeItem
  tags:
    - provision-stack
    - provision-node

- name: Wait for Windows' SSH system to become reachable
  wait_for_connection:
    timeout: 60
  when: "'windows2019' in nodeLabel"
  tags:
    - provision-node
