---
- name: Initialize env file
  ansible.builtin.file:
    path: "{{ e2e_home_dir }}.env"
    state: absent

- name: Extend environment for Stack Bootstrapping
  lineinfile:
    state: present
    line: "{{ item }}"
    insertafter: EOF
    dest: "{{ e2e_home_dir }}.env"
    create: yes
  with_items:
    - "SUITE=\"fleet\""
    - "TAGS=\"non-existing-tag\""
    - "PROVIDER=\"docker\""
    - "DEVELOPER_MODE=\"true\""
    - "SKIP_PULL=\"1\""
    - "LOG_LEVEL=\"TRACE\""
    - "STACK_VERSION=\"{{ lookup('env', 'STACK_VERSION') or lookup('file', '{{ workspace }}.stack-version') }}\""
    - "KIBANA_VERSION=\"{{ lookup('env', 'KIBANA_VERSION') or lookup('env', 'STACK_VERSION') or lookup('file', '{{ workspace }}.stack-version') }}\""
    - "ELASTIC_AGENT_VERSION=\"{{ lookup('env', 'ELASTIC_AGENT_VERSION') or lookup('env', 'STACK_VERSION') or lookup('file', '{{ workspace }}.stack-version') }}\""
  when: "'stack' == nodeLabel"
  tags:
    - scripts

- name: Extend environment for Fleet testing
  lineinfile:
    state: present
    line: "{{item}}"
    insertafter: EOF
    dest: "{{ e2e_home_dir }}.env"
    create: yes
  with_items:
    - "SUITE=\"{{ lookup('env', 'SUITE') or 'fleet' }}\""
    - "PROVIDER=\"{{ lookup('env', 'PROVIDER') or 'remote' }}\""
    - "ELASTICSEARCH_PASSWORD=\"changeme\""
    - "KIBANA_PASSWORD=\"changeme\""
    - "SKIP_PULL=\"1\""
    - "DEVELOPER_MODE=\"{{ lookup('env', 'DEVELOPER_MODE') or 'false' }}\""
  when:
    - suite is defined
    - stackRunner is defined
    - suite == "fleet"
  tags:
    - scripts

- name: Extend environment for Remote provider
  lineinfile:
    state: present
    line: "{{ item }}"
    insertafter: EOF
    dest: "{{ e2e_home_dir }}.env"
    create: yes
  with_items:
    - "ELASTICSEARCH_URL=\"http://{{ stackRunner }}:9200\""
    - "KIBANA_URL=\"http://{{ stackRunner }}:5601\""
    - "FLEET_URL=\"http://{{ stackRunner }}:8220\""
  when:
    - suite is defined
    - stackRunner is defined
    - lookup('env', 'PROVIDER') == 'remote'
  tags:
    - scripts

- name: Extend environment for Fleet with elastic-package testing
  lineinfile:
    state: present
    line: "{{item}}"
    insertafter: EOF
    dest: "{{ e2e_home_dir }}.env"
    create: yes
  with_items:
    - "SUITE=\"{{ lookup('env', 'SUITE') or 'fleet' }}\""
    - "PROVIDER=\"{{ lookup('env', 'PROVIDER') or 'elastic-package' }}\""
  when: "'fleet_elastic_pkg' in nodeLabel"
  tags:
    - scripts

- name: Extend environment for Kubernetes Autodiscover testing
  lineinfile:
    state: present
    line: "{{item}}"
    insertafter: EOF
    dest: "{{ e2e_home_dir }}.env"
    create: yes
  with_items:
    - "SUITE=\"{{ lookup('env', 'SUITE') or 'kubernetes-autodiscover' }}\""
    - "PROVIDER=\"{{ lookup('env', 'PROVIDER') or 'docker' }}\""
    - "KIND_VERSION=\"{{ lookup('env', 'KIND_VERSION') }}\""
    - "KUBERNETES_VERSION=\"{{ lookup('env', 'KUBERNETES_VERSION') }}\""
    - "DEVELOPER_MODE=\"{{ lookup('env', 'DEVELOPER_MODE') or 'false' }}\""
  when:
    - suite is defined
    - suite == "kubernetes-autodiscover"
  tags:
    - scripts

- name: Extend environment
  lineinfile:
    state: present
    line: "{{item}}"
    insertafter: EOF
    dest: "{{ e2e_home_dir }}.env"
    create: yes
  with_items:
    - "TAGS=\"{{ lookup('env', 'TAGS') }}\""
    - "STACK_VERSION=\"{{ lookup('env', 'STACK_VERSION') or lookup('file', '{{ workspace }}.stack-version') or '8.0.0-SNAPSHOT' }}\""
    - "BEAT_VERSION=\"{{ lookup('env', 'BEAT_VERSION') or lookup('env', 'STACK_VERSION') or lookup('file', '{{ workspace }}.stack-version') or '8.0.0-SNAPSHOT' }}\""
    - "ELASTIC_AGENT_VERSION=\"{{ lookup('env', 'ELASTIC_AGENT_VERSION') or lookup('env', 'STACK_VERSION') or lookup('file', '{{ workspace }}.stack-version') or '8.0.0-SNAPSHOT' }}\""
    - "GITHUB_CHECK_SHA1=\"{{ lookup('env', 'GITHUB_CHECK_SHA1') or '' }}\""
    - "GITHUB_CHECK_REPO=\"{{ lookup('env', 'GITHUB_CHECK_REPO') or 'elastic-agent' }}\""
    - "ELASTIC_APM_GLOBAL_LABELS=\"{{ lookup('env', 'ELASTIC_APM_GLOBAL_LABELS') }}\""
    - "LOG_LEVEL=\"{{ lookup('env', 'LOG_LEVEL') or 'TRACE' }}\""
    - "OP_LOG_LEVEL=\"{{ lookup('env', 'LOG_LEVEL') or lookup('env', 'OP_LOG_LEVEL') or 'TRACE' }}\""
    - "TIMEOUT_FACTOR=7"
    - "REPORT_PREFIX=\"{{ lookup('env', 'REPORT_PREFIX') }}\""
  tags:
    - scripts

- name: Copy env file to root
  become: True
  ansible.builtin.copy:
    remote_src: True
    src: "{{ e2e_home_dir }}.env"
    dest: "/root/.op/.env"
    owner: root
    group: root
  tags:
    - scripts

- name: Create Fleet test script file
  copy:
    owner: "{{ansible_user}}"
    mode: '0777'
    dest: "{{ e2e_base_dir }}.ci/scripts/functional-test.sh"
    content: |
      #!/usr/bin/env bash
      set -euxo pipefail

      BASE_DIR="/home/{{ansible_user}}/e2e-testing"
      SUITE="{{ lookup('env', 'SUITE') or 'fleet' }}"
      REPORT_PREFIX="{{ lookup('env', 'REPORT_PREFIX') or 'junit' }}"

      export PATH="$PATH:/usr/local/go/bin"

      BASE_DIR=${BASE_DIR} "${BASE_DIR}/.ci/scripts/install-test-dependencies.sh" "${SUITE}"

      OUTPUT_DIR="{{ e2e_base_dir }}/outputs/docker-logs" OUTPUT_FILE="docker-logs-${REPORT_PREFIX}-{{ runId }}-${SUITE}" "${BASE_DIR}/.ci/scripts/run_filebeat.sh"

      REPORT_PREFIX=$(echo "$REPORT_PREFIX" | sed -r 's/[ @~]+//g')
      SEED="$(date +%Y-%m-%d-%H:%M:%S)"
      REPORT="{{ e2e_base_dir }}outputs/TEST-${REPORT_PREFIX}-{{ runId }}-${SEED}"
      echo "REPORT=\"${REPORT}"\" >> {{ e2e_home_dir }}.env

      echo "Removing previous test files in the case the workspace is reused"
      rm -f {{ e2e_base_dir }}outputs/TEST-*.*

      TAGS="{{ lookup('env', 'TAGS') }}" \
        FORMAT="pretty,cucumber:${REPORT}.json,junit:${REPORT}.xml" \
        make --no-print-directory -C "{{ e2e_base_dir }}e2e/_suites/${SUITE}" functional-test
  tags:
    - scripts
