version: '2.4'
services:
  elasticsearch:
    environment:
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - xpack.security=false
      - xpack.monitoring.collection.enabled=true
      - ELASTIC_USERNAME=elastic
      - ELASTIC_PASSWORD=changeme
    image: "docker.elastic.co/observability-ci/elasticsearch:${elasticsearchTag:-8.6.0-4e169a4a-SNAPSHOT}"
    platform: ${elasticsearchPlatform:-linux/amd64}
    ports:
      - "9200:9200"
      - "9300:9300"
