- name: Create test environment
  hosts: localhost
  gather_facts: no
  vars:
      ansible_user: ubuntu
  tasks:
  - name: Setup nodes
    include_tasks: tasks/runners.yml
    tags:
      - provision-stack
      - start-node

- name: Teardown environment
  hosts: localhost
  gather_facts: no
  vars:
      ansible_user: ubuntu
  tasks:
  - name: Teardown Test Runners (AWS)
    include_tasks: tasks/teardown.yml
    tags:
      - destroy

- name: Manage stack instance
  hosts: all
  connection: ssh
  become: True
  tags:
    - setup-stack
  roles:
    - role: geerlingguy.docker
      docker_daemon_options:
        default-ulimit: ["nofile=1024000:1024000"]
    - role: andrewrothstein.kubectl
    - role: andrewrothstein.kind
    - role: gantsign.golang
      vars:
        golang_version: 1.16.3
  vars:
    ansible_user: ubuntu
  tasks:
  - name: Create environment file
    become: no
    local_action:
      module: copy
      dest: "{{workspace}}/.env"
      content: |
        export OP_LOG_LEVEL=DEBUG
        export LOG_LEVEL=DEBUG
        export TIMEOUT_FACTOR=7
    tags:
      - setup-stack

  - name: Setup source code
    include_tasks: tasks/copy_test_files.yml
    tags:
      - setup-stack

  - name: Start stack
    shell: |
      sed -i '' -e 's,http://elasticsearch,http://{{inventory_hostname}},g' /home/{{ansible_user}}/e2e-testing/cli/config/compose/profiles/fleet/default/kibana.config.yml
      sed -i '' -e 's,http://fleet-server,http://{{inventory_hostname}},g' /home/{{ansible_user}}/e2e-testing/cli/config/compose/profiles/fleet/default/kibana.config.yml
      sed -i '' -e 's,http://package-registry:8080,https://epr-staging.elastic.co,g' /home/{{ansible_user}}/e2e-testing/cli/config/compose/profiles/fleet/default/kibana.config.yml
      sudo docker-compose -f /home/{{ansible_user}}/e2e-testing/cli/config/compose/profiles/fleet/docker-compose.yml up -d
    tags:
      - setup-stack

- name: Manage runner instances
  hosts: all
  connection: ssh
  become: True
  tags:
    - setup-node
  roles:
    - role: geerlingguy.docker
      docker_daemon_options:
        default-ulimit: ["nofile=1024000:1024000"]
      when: "'kubernetes_autodiscover' in nodeLabel or 'helm' in nodeLabel or 'fleet_amd64' in nodeLabel or 'fleet_elastic_pkg' in nodeLabel"
    - role: andrewrothstein.kubectl
      when: "'kubernetes_autodiscover' in nodeLabel or 'helm' in nodeLabel"
    - role: andrewrothstein.kind
      when: "'kubernetes_autodiscover' in nodeLabel or 'helm' in nodeLabel"
    - role: geerlingguy.helm
      when: "'kubernetes_autodiscover' in nodeLabel or 'helm' in nodeLabel"
    - role: gantsign.golang
      vars:
        golang_version: 1.16.3
  vars:
    ansible_user: ubuntu
  tasks:
  - name: Install deps
    include_tasks: tasks/install_deps.yml
    tags:
      - setup-node

  - name: Setup source code
    include_tasks: tasks/copy_test_files.yml
    tags:
      - setup-node
      - copy-source

  - name: Configure test script
    include_tasks: tasks/setup_test_script.yml
    tags:
      - setup-node
      - copy-source
