###### Requirements without Version Specifiers ######
ansible
ansible-playbook
boto
boto3
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
protobuf==3.20.1 #Temporary change because of protobuf new version bug: https://github.com/protocolbuffers/protobuf/issues/10051
requests
