---
- name: "Create aws instances"
  ec2:
    wait: yes
    key_name: "e2essh-{{runId}}"
    region: us-east-2
    group: e2e
    image: 'ami-0629230e074c580f2'
    instance_type: c5.2xlarge
    instance_tags:
      Name: "e2e-amd64-{{runId}}"
    exact_count: 1
    count_tag:
      Name: "e2e-amd64-{{runId}}"
    volumes:
      - device_name: /dev/sda1
        volume_type: gp2
        volume_size: 50
        delete_on_termination: yes
  register: ec2

- name: Wait for SSH to come up
  wait_for: host={{ ec2ssh.public_ip }} port=22 delay=10 timeout=60
  loop: "{{ ec2.instances }}"
  loop_control:
    loop_var: ec2ssh

- name: Add host to groupname
  add_host: hostname={{ ec2host.public_ip }} groupname=aws_runner_instances
  loop: "{{ ec2.instances }}"
  loop_control:
    loop_var: ec2host

- name: Add AWS host to address list
  become: no
  lineinfile:
    state: present
    line: "- ubuntu@{{addr.public_ip}}"
    insertafter: EOF
    dest: "{{workspace}}/amd64-sshhosts"
    create: yes
  loop: "{{ ec2.instances }}"
  loop_control:
    loop_var: addr

- name: Add AWS host to hosts file
  become: no
  lineinfile:
    state: present
    line: "{{addr.public_ip}}"
    insertafter: EOF
    dest: "{{workspace}}/hosts"
    create: yes
  loop: "{{ ec2.instances }}"
  loop_control:
    loop_var: addr
