apiVersion: v1
kind: Pod
metadata:
  name: a-failing-pod
spec:
  containers:
  - name: failing-container-in-pod
    image: busybox
    imagePullPolicy: IfNotPresent
    command:
    - /bin/sh
    - -c
    - echo I will fail now; false
