apiVersion: v1
kind: Pod
metadata:
  name: redis
  annotations:
{{ if option "metrics annotations" }}
    co.elastic.metrics/module: redis
    co.elastic.metrics/hosts: "${data.host}:6379"
    co.elastic.metrics/period: "5s"
{{ end }}
{{ if option "metrics annotations with named port" }}
    co.elastic.metrics/module: redis
    co.elastic.metrics/hosts: "${data.host}:${data.ports.redis}"
    co.elastic.metrics/period: "5s"
{{ end }}
{{ if option "monitor annotations with named port" }}
    co.elastic.monitor/type: tcp
    co.elastic.monitor/hosts: "${data.host}:${data.ports.redis}"
{{ end }}
spec:
  containers:
  - image: redis
    imagePullPolicy: IfNotPresent
    name: redis
    ports:
    - name: redis
      containerPort: 6379
      protocol: TCP
