apiVersion: v1
kind: Service
metadata:
  name: redis
  annotations:
{{ if option "monitor annotations" }}
    co.elastic.monitor/type: tcp
    co.elastic.monitor/hosts: "${data.host}:6379"
{{ end }}
spec:
  selector:
    k8s-app: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
